body{
    font-family:$base-font-family;
    font-size:$base-font-size;
    line-height: 1.7em;
    color:$base-font-color;
}

a{
    color:$primary-color;
}

input, textarea, button{
    @include border-radius(1px);
}

