/*Font Colors */
$base-font-size:15px;
$base-font-family: sans-serif, monospace;
$base-font-color:#5d5b5b;

/*Background Colors */
$primary-color:#0374e5;
$secondary-color:#c69c6d;
$light-color:#e4eef2;
$dark-color:#3d484b;
$background:rgb(43, 39, 64);


/* Showcase Area */

$showcase-height:auto;
$showcase-image:'../img/banner.png';


/*Footer Menu */

$footer-image:'../img/footer.jpg';

/* Short Banner */

$shortbanner-height:180px;
$shortbanner-image:'../img/banner.jpg';