/*Lists */

.list{
    margin-bottom: 30px; 
}

.list-feature{
    @extend .list;
    margin:0;
    padding: 0;
    width:80%;
        
    li{
        line-height:2.2em;
        @include add-border(1px,#cccccc, bottom);
    }
    
    li:last-child{
        border: 0;
    }
}

.fa-1x{
    font-size:23px;
    color:$primary-color;
}
.fa-2x{
    font-size:35px;
      color:rgb (74, 67, 190);
}
.fa-3x{
    font-size:40px;
    color:rgb (74, 67, 190);
}
.fa-4x{
    font-size:50px;
    color:rgb (74, 67, 190);
}
.fa-5{
    font-size:58px;
}
.fa-6{
    font-size:68px;
}
    
.fa-primary{
        color:yellow;
        @include add-border(1px, $primary-color, all);
        @include border-radius(5px);
        padding:10px 10px;
        width:50px;
    margin-bottom: 10px;
}

.fa-inverse{
    color:$secondary-color;
   
}

.fa-circle{
    color:#3d484b;
}


/* Headings */

.heading-primary{
    color:$primary-color;
}


.heading-secondary{
    color:$secondary-color;
}


.heading-light{
    color:$light-color;
}


.heading-dark{
    color:$dark-color;
}